*{
    margin:0;
}
.pagina
{
    background: whitesmoke;
    height:70em;
}
.bara
{
    width:auto;
    height:75px;
    background:hsl(41, 100%, 50%);;
    margin:0;
    position:sticky;
    top:0px;
    bottom: 10px;
    border-bottom-width: 15px;
    border-bottom: 2px solid white;
}
.logo
{
color:white;
font-size:60px;
font-family: Chiller;
font-style: oblique;
margin-left: 20px;
margin-top:0px ;
}
.continutprincipal
{
    background:#ffb428;
    position: inherit;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 30px;
    width:1080px;
    height:49em;
    border-radius: 3%;  
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid coral;
    border-color:white;

}

.incipit
{
    color:white;
    font-size:30px;
    font-family: Arial;
    justify-content: center;
}
.lista
{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }  
a:visited{ color:white}
a:link{ color:white}
a:hover{ color:black}
a:active{ color:black}


.sfarsit
{
    background-color: rgb(255, 189, 68);
    height:40px;
}