*{
    margin:0;
}
.pagina
{
    background:hsl(41, 100%, 60%);
    height:142em;
}
.bara
{
    width:auto;
    height:75px;
    background:hsl(41, 100%, 50%);;
    margin:0;
    position:sticky;
    top:0px;
    bottom: 10px;
    border-bottom-width: 15px;
    border-bottom: 2px solid white;
}

.logo
{
color:white;
font-size:60px;
font-family: Chiller;
font-style: oblique;
margin-left: 20px;
margin-top:0px ;
}
.meniu
{   position:absolute;right: 20px; top:10px;
    font-size:40px;
    font-family: Chiller;
    appearance:inherit;/*incadrat cu negru casuta*/
}
.continutprincipal
{
    background:#ffb428;
    position: inherit;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 30px;
    width:1080px;
    height:120em;
    border-radius: 3%;  
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid coral;
    border-color:white;
}

a:visited{ color:white}
a:link{ color:white}
a:hover{ color:black}
a:active{ color:black}
.titlu
{
    font-size: 70px;
    font-family: Chiller;
    color:white;
}
.orasele
{
    color:white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}